.blockMarket {
    margin: 122px 0px 0px 0px;
}
.blockMarketItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}
.itemDouble {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    transition: all .5s;
}
.itemDouble a:hover {
    box-shadow: 2px 2px 35px rgb(53, 52, 50);
    transition: all .5s;
}
.item img {
    transition: all .5s;
}
.item img:hover {
    box-shadow: 2px 2px 35px rgb(53, 52, 50);
    transition: all .5s;
}