.cartSection {
    padding: 60px 0px 0px 40px;
}
.cartItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 40px;
    padding: 40px 40px 155px 40px;
}
.cartAdd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartAdd button {
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    font-size: 30px;
    border: none;
    background: #F46D40;
    cursor: pointer;
    transition: all 0.5s;
}
.cartAdd button:hover {
    transform: scale(0.9);
    transition: all 0.5s;
}
.num {
    margin-left: 10px;
    font-weight: 700;
    font-size: 30px;
}
