.content {
    display: flex;
}

.left {
    width: 70%;
    padding: 20px 0 30px 40px;
}

.right {
    width: 30%;
}
.btnPage {
    position: relative;
    top: 50px;
    background: #F46D40;
    border-radius: 5px;
    font-family: DIN Pro;
    font-style: normal;
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    border: 0.5px solid #F46D40;
    color: #F2F2F2;
    cursor: pointer;
    transition: all .5s;
    padding: 4px 30px;
}
.btnPage:hover {
    color: #F46D40;
    border: 0.5px solid #F46D40;
    background-color: #F2F2F2;
    transition: all .5s;
}