.contentScroll {
    max-width: 650px;
    
    margin: auto;
}
.slider {
    display: flex;
    flex-direction: row;
    padding: 10px;
    overflow-x: scroll;
    cursor: pointer;
}
.slider div > div {
    margin-left: 20px;
}
.items {
    border-radius: 10px;
    border: 1px solid grey;
    min-width: 750px;
    height: 450px;

    margin-left: 20px;
}
.slider {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.slider::-webkit-scrollbar {
    width: 0;
    background: transparent;
}