.wrapper {
  display: grid;
  margin: 0;
  width: 100%;
  grid-template-rows: 140px 1fr;
  grid-template-columns: 0fr 10fr;
  grid-gap: 1px;
  grid-template-areas: 
  "s h r"
  "s h r"
  "s h r";
}
.active {
  color: rgb(211, 58, 121);
}
/* Нижняя прокрутка */

.container {
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
}
.SliderFooterData {
  display: flex;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* .SliderFooterData div > div {
  margin-left: 20px;
} */
.scrollableItem {
  display: grid;
  grid-template-rows: max-content;
  border-radius: 10px;
  min-width: 250px;
  background-color: #fff;
  min-height: 300px;
  width: 250px !important;
  margin-left: 20px;
  transition: all .5s;
}
.scrollableItem:hover {
  box-shadow: 2px 2px 35px rgb(179, 176, 172);
  transition: all .5s;
}
.SliderFooterData::-webkit-scrollbar {
  width: 0;
  background: transparent;
}





